services:
  web:
    build: .
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - ./.env

  db:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: